
            body
            {
                background-color: aquamarine;
                margin: 100px;
                border: 10px solid powderblue;
                border-color: rgb(183, 252, 229);
            }
            h1
            {
                color: rgb(12, 145, 145);
                background-color:  powderblue;
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: xxx-large;
            }
            div
            {
                margin-top: 20px;
                padding-top: 20px;
                height: 500px;
                width: 400px;
            }
            .float-div 
            {
                float: left;
            }
            ul
            {
                background-color:  powderblue;
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                padding-left: 70px;
                padding-top: 20px;
                padding-bottom: 20px;
                list-style-type: none;
                font-size: 400%;
            }
            img
            {
                width: 100%;
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                padding-left: 20px;
                padding-top: 20px;
                padding-bottom: 20px;    
            }
           /*包含以下四种的链接*/
            a {
                text-decoration: none;
            }
            /*正常的未被访问过的链接*/
            a:link {
                text-decoration: none;
            }
            /*已经访问过的链接*/
            a:visited {
                text-decoration: none;
            }
            /*鼠标划过(停留)的链接*/
            a:hover {
                text-decoration: none;
            }
            /* 正在点击的链接*/
            a:active {
                text-decoration: none;
            }