
	body
	{
		background-image: url("/picture/2.jpg")
	}
	h1
	{
		text-align: center;
		color: aliceblue;
	}
	p
	{
		text-indent: 32px;
		font-size:16px;
		color: rgb(28, 35, 35);
	}
	img
	{
		position: absolute;
		left: 50%;
		margin-left: -181px;
	}